body{
    background-color: rgb(9, 80, 9);
}
h1{
    color : white;
    text-align: center;
}
hr{
    background-color : grey;
}
div{
    background-color: rgb(233, 199, 213);
    color : black;
    text-align : left;
    width: 120px;
    font-weight: 900;
    margin : 5px;
}
#success{
    visibility: hidden;
}
table{
    position : absolute;
    right : 30px;
    top : 100px;
    background-color: rgb(207, 255, 134);
    height : 380px;
}
td{
    display : inline-block;
    width : 90px;
    height : 100px;
    text-align : center;
}